<html>
<head></head>

<div>
 
    <form action="/login" method="POST">
   
          <label for="email">Email</label>
          <input type="email"  name="username">
       
     
          <label for="password">Password</label>
          <input type="password"  name="password">
    
        <button type="submit">Login</button>
      </form>

</div>

</html>