<html>
<head></head>

<div>
 
    <form action="/register" method="POST">
      
          <label for="email">Email</label>
          <input type="email" name="username">
       
      
          <label for="password">Password</label>
          <input type="password" name="password">
      
        <button type="submit">Register</button>
      </form>

</div>

</html>